<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Conteúdo - POO</title>
</head>

<body>
    <header>
        <nav class="navbar fix-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">Página de Estudos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="nav-link" href="index.html">Simulados</span>
                        <ul id="submenu">
                            <li><a class="subitem" href="./simulado1.html">Simulado 1</a></li>
                            <li><a class="subitem" href="./simulado2.html">Simulado 2</a></li>
                            <li><a class="subitem" href="./simulado3.html">Simulado 3</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="./conteudo.html">Mais contúdos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="main-conteudo">
        <div id="division">
            <div class="title">
                <h2 id="title1">Introdução a POO</h2>
            </div>
            <div class="content">

                <div class="slides">
                    <input class="input" type="radio" name="slide" id="slide1" checked>
                    <input class="input" type="radio" name="slide" id="slide2">
                    <input class="input" type="radio" name="slide" id="slide3">
                    <input class="input" type="radio" name="slide" id="slide4">
                    <input class="input" type="radio" name="slide" id="slide5">
                    <input class="input" type="radio" name="slide" id="slide6">


                    <div class="slide s1">
                        <img src="../public/img/introducao/img1.png" alt="1 conteudo">
                    </div>
                    <div class="slide">
                        <img src="../public/img/introducao/img2.png" alt="2 conteudo">
                    </div>
                    <div class="slide">
                        <img src="../public/img/introducao/img3.png" alt="3 conteudo">
                    </div>
                    <div class="slide">
                        <img src="../public/img/introducao/img4.png" alt="4 conteudo">
                    </div>
                    <div class="slide">
                        <img src="../public/img/introducao/img5.png" alt="5 conteudo">
                    </div>
                    <div class="slide">
                        <img src="../public/img/introducao/img6.png" alt="6 conteudo">
                    </div>

                    <div class="navigation">
                        <label class="bar" for="slide1"></label>
                        <label class="bar" for="slide2"></label>
                        <label class="bar" for="slide3"></label>
                        <label class="bar" for="slide4"></label>
                        <label class="bar" for="slide5"></label>
                        <label class="bar" for="slide6"></label>
                    </div>
                </div>
            </div>
            <div class="exercicios">
                <a class="btn" href="../public/Conteudos/Introdução a POO.pdf">Mais informações</a>
                <a class="btn" href="https://www.youtube.com/watch?v=ohmHbdUhAGc">Vídeo</a>
                <a class="btn" href="../public/Questões/Questões sobre Introdução a Programação Orientada à Objetos.pdf">Questões</a>
            </div>
        </div>
        <div>
            <div class="title">
                <h2 id="title2">Alocação de Memória</h2>
            </div>
            <div class="content">

                <div class="slides2">
                    <input class="input" type="radio" name="slide2" id="slide7" checked>
                    <input class="input" type="radio" name="slide2" id="slide8">
                    <input class="input" type="radio" name="slide2" id="slide9">
                    <input class="input" type="radio" name="slide2" id="slide10">
                    <input class="input" type="radio" name="slide2" id="slide11">


                    <div class="slide2 s2">
                        <img src="../public/img/alocacao/img7.png" alt="1 conteudo2">
                    </div>
                    <div class="slide2">
                        <img src="../public/img/alocacao/img8.png" alt="2 conteudo2">
                    </div>
                    <div class="slide2">
                        <img src="../public/img/alocacao/img9.png" alt="3 conteudo2">
                    </div>
                    <div class="slide2">
                        <img src="../public/img/alocacao/img10.png" alt="4 conteudo2">
                    </div>
                    <div class="slide2">
                        <img src="../public/img/alocacao/img11.png" alt="5 conteudo2">
                    </div>

                    <div class="navigation">
                        <label class="bar" for="slide7"></label>
                        <label class="bar" for="slide8"></label>
                        <label class="bar" for="slide9"></label>
                        <label class="bar" for="slide10"></label>
                        <label class="bar" for="slide11"></label>
                    </div>
                </div>
            </div>
            <div class="exercicios">
                <a class="btn" href="../public/Conteudos/Alocação de Memória.pdf">Mais informações</a>
                <a class="btn" href="https://www.youtube.com/watch?v=TnS_ZLXuY2s">Vídeo</a>
                <a class="btn" href="../public/Questões/Questões sobre Alocação de Memória.pdf">Questões</a>
            </div>
        </div>
        <div class="title">
            <h2 id="title3">Encapsulamento</h2>
        </div>
        <div>
            <div class="content">
                <div class="slides3">
                    <input class="input" type="radio" name="slide3" id="slide12" checked>
                    <input class="input" type="radio" name="slide3" id="slide13">
                    <input class="input" type="radio" name="slide3" id="slide14">
                    <input class="input" type="radio" name="slide3" id="slide15">
                    <input class="input" type="radio" name="slide3" id="slide16">
                    <input class="input" type="radio" name="slide3" id="slide17">

                    <div class="slide3 s3">
                        <img src="../public/img/encapsulamento/img12.png" alt="1 conteudo3">
                    </div>
                    <div class="slide3">
                        <img src="../public/img/encapsulamento/img13.png" alt="2 conteudo3">
                    </div>
                    <div class="slide3">
                        <img src="../public/img/encapsulamento/img14.png" alt="3 conteudo3">
                    </div>
                    <div class="slide3">
                        <img src="../public/img/encapsulamento/img15.png" alt="4 conteudo3">
                    </div>
                    <div class="slide3">
                        <img src="../public/img/encapsulamento/img16.png" alt="5 conteudo3">
                    </div>
                    <div class="slide3">
                        <img src="../public/img/encapsulamento/img17.png" alt="3 conteudo3">
                    </div>

                    <div class="navigation">
                        <label class="bar" for="slide12"></label>
                        <label class="bar" for="slide13"></label>
                        <label class="bar" for="slide14"></label>
                        <label class="bar" for="slide15"></label>
                        <label class="bar" for="slide16"></label>
                        <label class="bar" for="slide17"></label>
                    </div>
                </div>
            </div>
            <div class="exercicios">
                <a class="btn" href="../public/Conteudos/Encapsulamento.pdf">Mais informações</a>
                <a class="btn" href="https://www.youtube.com/watch?v=1wYRGFXpVlg">Vídeo</a>
                <a class="btn" href="../public/Questões/Questões sobre Encapsulamento.pdf">Questões</a>
            </div>
        </div>
        <div>
            <div class="title">
                <h2 id="title4">Reflexividade</h2>
            </div>
            <div class="content">

                <div class="slides4">
                    <input class="input" type="radio" name="slide4" id="slide18" checked>
                    <input class="input" type="radio" name="slide4" id="slide19">
                    <input class="input" type="radio" name="slide4" id="slide20">
                    <input class="input" type="radio" name="slide4" id="slide21">

                    <div class="slide4 s4">
                        <img src="../public/img/reflexividade/1.png" alt="1 conteudo4">
                    </div>
                    <div class="slide4">
                        <img src="../public/img/reflexividade/2.png" alt="2 conteudo4">
                    </div>
                    <div class="slide4">
                        <img src="../public/img/reflexividade/3.png" alt="3 conteudo4">
                    </div>
                    <div class="slide4">
                        <img src="../public/img/reflexividade/4.png" alt="4 conteudo4">
                    </div>

                    <div class="navigation">
                        <label class="bar" for="slide18"></label>
                        <label class="bar" for="slide19"></label>
                        <label class="bar" for="slide20"></label>
                        <label class="bar" for="slide21"></label>
                    </div>
                </div>
            </div>
            <div class="exercicios">
                <a class="btn" href="../public/Conteudos/Reflexividade.pdf">Mais informações</a>
                <a class="btn" href="https://youtu.be/yPI02aRQeQs">Vídeo</a>
                <a class="btn" href="../public/Questões/Questões sobre Reflexividade.pdf">Questões</a>
            </div>
        </div>
        <div>
            <div class="title">
                <h2 id="title5">Polimorfismo</h2>
            </div>
            <div class="content">

                <div class="slides5">
                    <input class="input" type="radio" name="slide5" id="slide22" checked>
                    <input class="input" type="radio" name="slide5" id="slide23">
                    <input class="input" type="radio" name="slide5" id="slide24">
                    <input class="input" type="radio" name="slide5" id="slide25">
                    <input class="input" type="radio" name="slide5" id="slide26">
                    <input class="input" type="radio" name="slide5" id="slide27">
                    <input class="input" type="radio" name="slide5" id="slide28">
                    <input class="input" type="radio" name="slide5" id="slide29">
                    <input class="input" type="radio" name="slide5" id="slide30">


                    <div class="slide5 s5">
                        <img src="../public/img/polimorfismo/1.png" alt="1 conteudo5">
                    </div>
                    <div class="slide5">
                        <img src="../public/img/polimorfismo/2.png" alt="2 conteudo5">
                    </div>
                    <div class="slide5">
                        <img src="../public/img/polimorfismo/3.png" alt="3 conteudo5">
                    </div>
                    <div class="slide5">
                        <img src="../public/img/polimorfismo/4.png" alt="4 conteudo5">
                    </div>
                    <div class="slide5">
                        <img src="../public/img/polimorfismo/5.png" alt="5 conteudo5">
                    </div>
                    <div class="slide5">
                        <img src="../public/img/polimorfismo/6.png" alt="6 conteudo5">
                    </div>
                    <div class="slide5">
                        <img src="../public/img/polimorfismo/7.png" alt="7 conteudo5">
                    </div>
                    <div class="slide5">
                        <img src="../public/img/polimorfismo/8.png" alt="8 conteudo5">
                    </div>
                    <div class="slide5">
                        <img src="../public/img/polimorfismo/9.png" alt="9 conteudo5">
                    </div>

                    <div class="navigation">
                        <label class="bar" for="slide22"></label>
                        <label class="bar" for="slide23"></label>
                        <label class="bar" for="slide24"></label>
                        <label class="bar" for="slide25"></label>
                        <label class="bar" for="slide26"></label>
                        <label class="bar" for="slide27"></label>
                        <label class="bar" for="slide28"></label>
                        <label class="bar" for="slide29"></label>
                        <label class="bar" for="slide30"></label>
                    </div>
                </div>
            </div>
            <div class="exercicios">
                <a class="btn" href="../public/Conteudos/Polimorfismo.pdf">Mais informações</a>
                <a class="btn" href="https://www.youtube.com/watch?v=9-3-RMEMcq4">Vídeo</a>
                <a class="btn" href="../public/Questões/Questões sobre Polimorfismo.pdf">Questões</a>
            </div>
        </div>
        <div>
            <div class="title">
                <h2 id="title6">Herança</h2>
            </div>
            <div class="content">

                <div class="slides6">
                    <input class="input" type="radio" name="slide6" id="slide31" checked>
                    <input class="input" type="radio" name="slide6" id="slide32">
                    <input class="input" type="radio" name="slide6" id="slide33">
                    <input class="input" type="radio" name="slide6" id="slide34">
                    <input class="input" type="radio" name="slide6" id="slide35">
                    <input class="input" type="radio" name="slide6" id="slide36">
                    <input class="input" type="radio" name="slide6" id="slide37">
                    <input class="input" type="radio" name="slide6" id="slide38">
                    <input class="input" type="radio" name="slide6" id="slide39">
                    <input class="input" type="radio" name="slide6" id="slide40">


                    <div class="slide6 s6">
                        <img src="../public/img/heranca/1.png" alt="1 conteudo6">
                    </div>
                    <div class="slide6">
                        <img src="../public/img/heranca/2.png" alt="2 conteudo6">
                    </div>
                    <div class="slide6">
                        <img src="../public/img/heranca/3.png" alt="3 conteudo6">
                    </div>
                    <div class="slide6">
                        <img src="../public/img/heranca/4.png" alt="4 conteudo6">
                    </div>
                    <div class="slide6">
                        <img src="../public/img/heranca/5.png" alt="5 conteudo6">
                    </div>
                    <div class="slide6">
                        <img src="../public/img/heranca/6.png" alt="6 conteudo6">
                    </div>
                    <div class="slide6">
                        <img src="../public/img/heranca/7.png" alt="7 conteudo6">
                    </div>
                    <div class="slide6">
                        <img src="../public/img/heranca/8.png" alt="8 conteudo6">
                    </div>
                    <div class="slide6">
                        <img src="../public/img/heranca/9.png" alt="9 conteudo6">
                    </div>
                    <div class="slide6">
                        <img src="../public/img/heranca/10.png" alt="10 conteudo6">
                    </div>

                    <div class="navigation">
                        <label class="bar" for="slide31"></label>
                        <label class="bar" for="slide32"></label>
                        <label class="bar" for="slide33"></label>
                        <label class="bar" for="slide34"></label>
                        <label class="bar" for="slide35"></label>
                        <label class="bar" for="slide36"></label>
                        <label class="bar" for="slide37"></label>
                        <label class="bar" for="slide38"></label>
                        <label class="bar" for="slide39"></label>
                        <label class="bar" for="slide40"></label>
                    </div>
                </div>
            </div>
            <div class="exercicios">
                <a class="btn" href="../public/Conteudos/Herança.pdf">Mais informações</a>
                <a class="btn" href="https://www.youtube.com/watch?v=_PZldwo0vVo">Vídeo</a>
                <a class="btn" href="../public/Questões/Questões sobre Herança.pdf">Questões</a>
            </div>
        </div>
        <div>
            <div class="title">
                <h2 id="title7">Acoplagem e Coesão</h2>
            </div>
            <div class="content">

                <div class="slides7">
                    <input class="input" type="radio" name="slide7" id="slide41" checked>
                    <input class="input" type="radio" name="slide7" id="slide42">
                    <input class="input" type="radio" name="slide7" id="slide43">
                    <input class="input" type="radio" name="slide7" id="slide44">
                    <input class="input" type="radio" name="slide7" id="slide45">
                    <input class="input" type="radio" name="slide7" id="slide46">
                    <input class="input" type="radio" name="slide7" id="slide47">


                    <div class="slide7 s7">
                        <img src="../public/img/acoplagem_coesao/1.png" alt="1 conteudo7">
                    </div>
                    <div class="slide7">
                        <img src="../public/img/acoplagem_coesao/2.png" alt="2 conteudo7">
                    </div>
                    <div class="slide7">
                        <img src="../public/img/acoplagem_coesao/3.png" alt="3 conteudo7">
                    </div>
                    <div class="slide7">
                        <img src="../public/img/acoplagem_coesao/4.png" alt="4 conteudo7">
                    </div>
                    <div class="slide7">
                        <img src="../public/img/acoplagem_coesao/5.png" alt="5 conteudo7">
                    </div>
                    <div class="slide7">
                        <img src="../public/img/acoplagem_coesao/6.png" alt="6 conteudo7">
                    </div>
                    <div class="slide7">
                        <img src="../public/img/acoplagem_coesao/7.png" alt="7 conteudo7">
                    </div>

                    <div class="navigation">
                        <label class="bar" for="slide41"></label>
                        <label class="bar" for="slide42"></label>
                        <label class="bar" for="slide43"></label>
                        <label class="bar" for="slide44"></label>
                        <label class="bar" for="slide45"></label>
                        <label class="bar" for="slide46"></label>
                        <label class="bar" for="slide47"></label>
                    </div>
                </div>
            </div>
            <div class="exercicios">
                <a class="btn" href="../public/Conteudos/Acoplagem e Coesão.pdf">Mais informações</a>
                <a class="btn" href="https://www.youtube.com/watch?v=poJhAnAQd4I">Vídeo</a>
                <a class="btn" href="../public/Questões/Questões sobre Acoplagem e Coesão.pdf">Questões</a>
            </div>
        </div>
    </main>

    <footer id="botInfo">
        <div class="perfil">
            <img src="../public/img/perfilAnna.jpg" alt="Anna Júlia">
            <div class="perfilInfos">
                <ul>
                    <li>
                        <h4>Anna Júlia Rodrigues Gouvea</h4>
                    </li>
                    <li>R.A.: 2410125</li>
                    <li>Email: <a href="mailto:annagouvea@alunos.utfpr.edu.br">annagouvea@alunos.utfpr.edu.br</a></li>
                </ul>
            </div>
        </div>
        <div class="perfil">
            <img src="../public/img/perfilLuis.jpg" alt="Luís Felipe Mori">
            <div class="perfilInfos">
                <ul>
                    <li>
                        <h4>Luís Felipe Mori</h4>
                    </li>
                    <li>R.A.: 2266245</li>
                    <li>Email: <a href="mailto:luismori@alunos.utfpr.edu.br">luismori@alunos.utfpr.edu.br</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>