<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Página de Estudos - POO</title>
</head>

<body>

    <!--Cabeçalho-->
    <header>
        <nav class="navbar fix-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">Página de Estudos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="nav-link" href="index.html">Simulados</span>
                        <ul id="submenu">
                            <li><a class="subitem" href="./simulado1.html">Simulado 1</a></li>
                            <li><a class="subitem" href="./simulado2.html">Simulado 2</a></li>
                            <li><a class="subitem" href="./simulado3.html">Simulado 3</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="./conteudo.html">Mais conteúdos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!--Informações iniciais-->
    <div id="topInfo">
        <h2>Aprendendo Programação Orientada a Objetos</h2>
        <p>Um guia abrangente para entender e aplicar os princípios da POO em seus projetos de programação</p>
        <p>Mais informações a seguir:</p>
    </div>

    <!--Orientação para os conteúdos-->

    <h3 class="subtitle">Uma visão geral dos tópicos abordados neste guia de estudos de POO</h3>

    <div id="midInfo">
        <div class="cont">
            <a href="./conteudo.html#title1"><b>Introdução a POO</b></a>
            <p>POO é um paradigma que organiza o código em objetos interativos, proporcionando modularidade, flexibilidade e reutilização.</p>
            <a href="./conteudo.html#title2"><b>Alocação de memória</b></a>
            <p>Processo de solicitar/utilizar memória durante o processo de execução de um programa</p><br>
            <a href="./conteudo.html#title3"><b>Encapsulamento</b></a>
            <p>É a técnica utilizada para esconder uma ideia, ou seja, não expôr detalhes internos para o usuário</p>
        </div>
        <div class="cont">
            <a href="./conteudo.html#title4"><b>Reflexividade</b></a>
            <p>Consiste na capacidade que um programa tem de examinar e modificar sua própria estrutura ou comportamento
            </p>
            <a href="./conteudo.html#title5"><b>Polimorfismo</b></a>
            <p>Permite que referências de tipos de classes mais abstratas representem o comportamento das classes
                concretas</p>
            <a href="./conteudo.html#title6"><b>Herança</b></a>
            <p>Tem o mesmo significado para o mundo real. Como um filho pode herdar alguma característica do pai, é
                possível que uma classe herde atributos e métodos da outra</p>
        </div>
        <div class="cont">
            <a href="./conteudo.html#title7"><b>Acoplagem e Coesão</b></a>
            <p>Coesão e Acoplamento são princípios de engenharia de software</p><br>
            <a href="https://www.alura.com.br/artigos/poo-programacao-orientada-a-objetos" target="_blank"><b>Artigo</b></a>
            <p>Artigo com as principais informações a respeito da Programação Orientada a Objetos.</p><br>
            <a href="https://www.w3schools.com/java/" target="_blank"><b>Java</b></a>
            <p>Informações adicionais a respeito da linguagem Java.</p>

        </div>

    </div>

    <!--Informações finais-->
    <footer id="botInfo">
        <div class="perfil">
            <img src="../public/img/perfilAnna.jpg" alt="Anna Júlia">
            <div class="perfilInfos">
                <ul>
                    <li>
                        <h4>Anna Júlia Rodrigues Gouvea</h4>
                    </li>
                    <li>R.A.: 2410125</li>
                    <li>Email: <a href="mailto:annagouvea@alunos.utfpr.edu.br">annagouvea@alunos.utfpr.edu.br</a></li>
                </ul>
            </div>
        </div>
        <div class="perfil">
            <img src="../public/img/perfilLuis.jpg" alt="Luís Felipe Mori">
            <div class="perfilInfos">
                <ul>
                    <li>
                        <h4>Luís Felipe Mori</h4>
                    </li>
                    <li>R.A.: 2266245</li>
                    <li>Email: <a href="mailto:luismori@alunos.utfpr.edu.br">luismori@alunos.utfpr.edu.br</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>
