<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Página de Estudos - POO</title>
</head>

<body>

    <!--Cabeçalho-->
    <header>
        <nav class="navbar fix-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">Página de Estudos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="nav-link" href="index.html">Simulados</span>
                        <ul id="submenu">
                            <li><a class="subitem" href="./simulado1.html">Simulado 1</a></li>
                            <li><a class="subitem" href="./simulado2.html">Simulado 2</a></li>
                            <li><a class="subitem" href="./simulado3.html">Simulado 3</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="./conteudo.html">Mais conteúdos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!--Informações iniciais-->
    <main id="mainquest">

        <form action="" class="exercicios">
            <h1 id="topQuest">Simulado 1</h1>
            <div id="result"></div>
            <div class="question">
                <h3>Questão 1</h3>
                <p>O que é POO?</p>
                <label><input type="radio" name="quest1" value="1"> Programação Orientada a Objetos</label>
                <label><input type="radio" name="quest1" value="0"> Programação Operacional e Objetiva</label>
                <label><input type="radio" name="quest1" value="0"> Programação em Orientação a Objetos</label>
                <label><input type="radio" name="quest1" value="0"> Programação em Objetos e Orientação</label>
            </div>
            <div class="question">
                <h3>Questão 2</h3>
                <p>Quais são os princípios da Programação Orientada a Objetos?</p>
                <label><input type="radio" name="quest2" value="1"> Abstração, Encapsulamento, Herança,
                    Polimorfismo</label>
                <label><input type="radio" name="quest2" value="0"> Abstração, Orientação, Herança, Polimorfismo</label>
                <label><input type="radio" name="quest2" value="0"> Abstração, Incapsulamento, Herança,
                    Polimorfismo</label>
                <label><input type="radio" name="quest2" value="0"> Abstração, Encapsulamento, Hierarquia,
                    Polimorfismo</label>
            </div>
            <div class="question">
                <h3>Questão 3</h3>
                <p>O que é Encapsulamento em POO?</p>
                <label><input type="radio" name="quest3" value="1"> É a capacidade de esconder a implementação dos
                    dados.</label>
                <label><input type="radio" name="quest3" value="0"> É a capacidade de definir as características de um
                    objeto.</label>
                <label><input type="radio" name="quest3" value="0"> É a capacidade de criar novos objetos a partir de
                    outros objetos.</label>
                <label><input type="radio" name="quest3" value="0"> É a capacidade de criar classes.</label>
            </div>
            <div class="question">
                <h3>Questão 4</h3>
                <p>O que é uma Classe em POO?</p>
                <label><input type="radio" name="quest4" value="0"> É um tipo de dado.</label>
                <label><input type="radio" name="quest4" value="1"> É uma estrutura que contém propriedades e
                    métodos.</label>
                <label><input type="radio" name="quest4" value="0"> É um conjunto de objetos.</label>
                <label><input type="radio" name="quest4" value="0"> É um conjunto de propriedades.</label>
            </div>
            <div class="question">
                <h3>Questão 5</h3>
                <p>O que é um Objeto em POO?</p>
                <label><input type="radio" name="quest5" value="1"> É uma instância de uma classe.</label>
                <label><input type="radio" name="quest5" value="0"> É um tipo de dado.</label>
                <label><input type="radio" name="quest5" value="0"> É uma estrutura que contém propriedades e
                    métodos.</label>
                <label><input type="radio" name="quest5" value="0"> É um conjunto de propriedades.</label>
            </div>
            <div class="question">
                <h3>Questão 6</h3>
                <p>O que é Herança em POO?</p>
                <label><input type="radio" name="quest6" value="0"> É a capacidade de um objeto ter múltiplos
                    tipos.</label>
                <label><input type="radio" name="quest6" value="0"> É a capacidade de um objeto ter apenas um
                    tipo.</label>
                <label><input type="radio" name="quest6" value="1"> É a capacidade de um objeto ter todas as
                    características de outro objeto.</label>
                <label><input type="radio" name="quest6" value="0"> É a capacidade de um objeto ter apenas algumas
                    características de outro objeto.</label>
            </div>
            <div class="question">
                <h3>Questão 7</h3>
                <p>O que é Polimorfismo em POO?</p>
                <label><input type="radio" name="quest7" value="1"> É a capacidade de um objeto ter múltiplos
                    tipos.</label>
                <label><input type="radio" name="quest7" value="0"> É a capacidade de um objeto ter apenas um
                    tipo.</label>
                <label><input type="radio" name="quest7" value="0"> É a capacidade de um objeto ter todas as
                    características de outro objeto.</label>
                <label><input type="radio" name="quest7" value="0"> É a capacidade de um objeto ter apenas algumas
                    características de outro objeto.</label>
            </div>
            <div class="question">
                <h3>Questão 8</h3>
                <p>O que é Abstração em POO?</p>
                <label><input type="radio" name="quest8" value="0"> Um conceito que permite criar instâncias de classes.</label>
                <label><input type="radio" name="quest8" value="0"> Um conceito que permite agrupar objeto em categorias.</label>
                <label><input type="radio" name="quest8" value="1"> Um conceito que permite criar modelos simplificados de objetos do 
                mundo real em seus sistemas de software.</label>
                <label><input type="radio" name="quest8" value="0"> Um conceito que permite a comunicação entre diferentes objetos.</label>
            </div>
            <div class="question">
                <h3>Questão 9</h3>
                <p>Qual é a diferença entre uma Classe e um Objeto?</p>
                <label><input type="radio" name="quest9" value="0"> Uma Classe é uma instância de um objeto, e um Objeto
                    é uma estrutura que contém propriedades e métodos.</label>
                <label><input type="radio" name="quest9" value="1"> Uma Classe é uma estrutura que contém propriedades e
                    métodos, e um Objeto é uma instância dessa estrutura.</label>
                <label><input type="radio" name="quest9" value="0"> Uma Classe é um tipo de dado, e um Objeto é uma
                    estrutura que contém propriedades e métodos.</label>
                <label><input type="radio" name="quest9" value="0"> Uma Classe é um conjunto de propriedades, e um
                    Objeto é um conjunto de objetos.</label>
            </div>
            <div class="question">
                <h3>Questão 10</h3>
                <p>O que é um Construtor em POO?</p>
                <label><input type="radio" name="quest10" value="0"> É um método que cria um objeto.</label>
                <label><input type="radio" name="quest10" value="0"> É um método que destrói um objeto.</label>
                <label><input type="radio" name="quest10" value="1"> É um método que inicializa as propriedades de um
                    objeto.</label>
                <label><input type="radio" name="quest10" value="0"> É um método que cria uma classe.</label>
            </div>
            <a id="sumButton" class="btn" href="#topQuest">Finalizar</a>
            <a id="remake" class="btn">Limpar</a>
        </form>
    </main>

    <!--Informações finais-->
    <footer id="botInfo">
        <div class="perfil">
            <img src="../public/img/perfilAnna.jpg" alt="Anna Júlia">
            <div class="perfilInfos">
                <ul>
                    <li>
                        <h4>Anna Júlia Rodrigues Gouvea</h4>
                    </li>
                    <li>R.A.: 2410125</li>
                    <li>Email: <a href="mailto:annagouvea@alunos.utfpr.edu.br">annagouvea@alunos.utfpr.edu.br</a></li>
                </ul>
            </div>
        </div>
        <div class="perfil">
            <img src="../public/img/perfilLuis.jpg" alt="Luís Felipe Mori">
            <div class="perfilInfos">
                <ul>
                    <li>
                        <h4>Luís Felipe Mori</h4>
                    </li>
                    <li>R.A.: 2266245</li>
                    <li>Email: <a href="mailto:luismori@alunos.utfpr.edu.br">luismori@alunos.utfpr.edu.br</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

<script src="../scripts.js"></script>

</html>